# pandas

# it is a powerful open source data manipulate and analysis library for python
# created in 2008
uses 
#1.load datasets
#2.for data preprocessing
#3.data analysis

In [110]:
#pip install pandas

In [1]:
import pandas as pd

In [2]:
help(pd)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

# data structures

#data store
#2 structures
#1.series # 1 D
#2. dataframe # 2 D

# 1. Series

# 1D array like object that can hold data of any data type(int,float,string,...)
# pandas series like a column in a table
# it is labeled ,meaning each elemnts has a index
# pandas supports both integer based and label based indexing
# index labels(row labels) in a pandas dataframe or series do not need to be unique
#duplicate lables

# 1 D representation of data

In [113]:
# Series():function
a=pd.Series([1,2,3,4,5])
print(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [114]:
a=pd.Series(['d','e','t','u'])
a

0    d
1    e
2    t
3    u
dtype: object

In [115]:
#to chnage data type
a=pd.Series([1,2,3,4,5],dtype=float)
print(a)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [116]:
# to change index position
a=pd.Series([35,10,20,50,10],index=['a','b','c','d','e'])
a

a    35
b    10
c    20
d    50
e    10
dtype: int64

# create a Series

In [117]:
#1.from array
import numpy as np
a=np.arange(100,200,3)
a

array([100, 103, 106, 109, 112, 115, 118, 121, 124, 127, 130, 133, 136,
       139, 142, 145, 148, 151, 154, 157, 160, 163, 166, 169, 172, 175,
       178, 181, 184, 187, 190, 193, 196, 199])

b=np.array([1,2,3,4,5])
b

In [118]:
b=pd.Series(a)
b

0     100
1     103
2     106
3     109
4     112
5     115
6     118
7     121
8     124
9     127
10    130
11    133
12    136
13    139
14    142
15    145
16    148
17    151
18    154
19    157
20    160
21    163
22    166
23    169
24    172
25    175
26    178
27    181
28    184
29    187
30    190
31    193
32    196
33    199
dtype: int32

In [119]:
c=pd.Series(np.arange(100,200,3))
c

0     100
1     103
2     106
3     109
4     112
5     115
6     118
7     121
8     124
9     127
10    130
11    133
12    136
13    139
14    142
15    145
16    148
17    151
18    154
19    157
20    160
21    163
22    166
23    169
24    172
25    175
26    178
27    181
28    184
29    187
30    190
31    193
32    196
33    199
dtype: int32

In [120]:
# 2.from a list
a=[1,2,3,4,5]
b=pd.Series(a)
b

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [121]:
# from dictionary
a={'a':'apple','b':'orange','c':'kiwi'}
b=pd.Series(a)
b

a     apple
b    orange
c      kiwi
dtype: object

In [122]:
# from scaler value
a=pd.Series(5,index=['a','d','g'])
a

a    5
d    5
g    5
dtype: int64

# head()

In [123]:
# first 5 rows
#head(n):first n no: of rows,default=5
c=pd.Series(np.arange(100,200,3))
c

0     100
1     103
2     106
3     109
4     112
5     115
6     118
7     121
8     124
9     127
10    130
11    133
12    136
13    139
14    142
15    145
16    148
17    151
18    154
19    157
20    160
21    163
22    166
23    169
24    172
25    175
26    178
27    181
28    184
29    187
30    190
31    193
32    196
33    199
dtype: int32

In [124]:
c.head() #default=5

0    100
1    103
2    106
3    109
4    112
dtype: int32

In [125]:
c.head(10)

0    100
1    103
2    106
3    109
4    112
5    115
6    118
7    121
8    124
9    127
dtype: int32

In [126]:
c.head(2)

0    100
1    103
dtype: int32

# tail()

In [127]:
# last 5 row
# tail(n):last n no: of rows,default=5

In [128]:
c.tail()

29    187
30    190
31    193
32    196
33    199
dtype: int32

In [129]:
c.tail(10)

24    172
25    175
26    178
27    181
28    184
29    187
30    190
31    193
32    196
33    199
dtype: int32

# operations b/n 2 series

In [130]:
a=pd.Series([1,2,3,4])
b=pd.Series([11,12,13,14])

In [131]:
print(a)
print(b)

0    1
1    2
2    3
3    4
dtype: int64
0    11
1    12
2    13
3    14
dtype: int64

In [132]:
#1. addition
c=a.add(5)
c

0    6
1    7
2    8
3    9
dtype: int64

In [133]:
d=a.add(b)
d

0    12
1    14
2    16
3    18
dtype: int64

In [134]:
#2.subtration
c=a.subtract(5)
c

0   -4
1   -3
2   -2
3   -1
dtype: int64

In [135]:
c=b.subtract(a)
c

0    10
1    10
2    10
3    10
dtype: int64

In [136]:
# 3. multiplication
c=a.multiply(3)
c

0     3
1     6
2     9
3    12
dtype: int64

In [137]:
# 4. divixion
c=a.div(3)
c

0    0.333333
1    0.666667
2    1.000000
3    1.333333
dtype: float64

In [138]:
a=np.floor(c)
a

0    0.0
1    0.0
2    1.0
3    1.0
dtype: float64

# NaN(not a number )

In [139]:
# missing values is denoted by NaN

In [2]:
a=pd.Series([1,2,3,4,5])
b=pd.Series([10,11,12,12,13,14,15])
c=a.add(b)
c

0    11.0
1    13.0
2    15.0
3    16.0
4    18.0
5     NaN
6     NaN
dtype: float64

In [5]:
a=pd.Series([1,2,3,4,5])
b=pd.Series([10,11,12,12,13,14,15])
c=a.add(b,fill_value=0)
c

0    11.0
1    13.0
2    15.0
3    16.0
4    18.0
5    14.0
6    15.0
dtype: float64

# Concat

In [10]:
a=pd.Series([4,5,6,7])
b=pd.Series([1,2,3,4,5,6,7,8,9,10])
c=pd.concat([a,b])
c

0     4
1     5
2     6
3     7
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
c=pd.concat([a,b],ignore_index=True)
c

0      4
1      5
2      6
3      7
4      1
5      2
6      3
7      4
8      5
9      6
10     7
11     8
12     9
13    10
dtype: int64

# Element Accessing

variablename.iloc[index]
variablename.loc[index]
variablename[position]

.loc[] accesses data by label
.iloc[] accesses data by position.

In [12]:
c

0      4
1      5
2      6
3      7
4      1
5      2
6      3
7      4
8      5
9      6
10     7
11     8
12     9
13    10
dtype: int64

In [146]:
#Using .iloc (position-based access)
c.iloc[10]

7

In [147]:
#Using .loc (label-based access)
c.loc[10]

7

In [14]:
#Access Multiple Elements
c[[1,8,12]]

1     5
8     5
12    9
dtype: int64

In [149]:
#Access by Position
c[10]

7

In [16]:
dicti={'firstname':'ammu',"lastname":'PK','roll_no:':16,'batch':'science'}
a=pd.Series(dicti)
a

firstname       ammu
lastname          PK
roll_no:          16
batch        science
dtype: object

In [17]:
a['firstname']

'ammu'

In [18]:
a[0]

C:\Users\This PC\AppData\Local\Temp\ipykernel_32740\1109539928.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  a[0]

'ammu'

In [19]:
a.iloc[0]

'ammu'

In [22]:
a.iloc['firstname']

TypeError: Cannot index by location index with a non-integer key

In [21]:
a.loc['firstname']

'ammu'

# Slicing

In [23]:
c

0      4
1      5
2      6
3      7
4      1
5      2
6      3
7      4
8      5
9      6
10     7
11     8
12     9
13    10
dtype: int64

In [155]:
c[0:8]

0    4
1    5
2    6
3    7
4    1
5    2
6    3
7    4
dtype: int64

In [156]:
c[:8:2]

0    4
2    6
4    1
6    3
dtype: int64

In [157]:
c[::2]

0     4
2     6
4     1
6     3
8     5
10    7
12    9
dtype: int64

In [158]:
a['firstname':'batch']

firstname       ammu
lastname          PK
roll_no:          16
batch        science
dtype: object

In [24]:
c

0      4
1      5
2      6
3      7
4      1
5      2
6      3
7      4
8      5
9      6
10     7
11     8
12     9
13    10
dtype: int64

In [25]:
c.iloc[0:10] #0:9

0    4
1    5
2    6
3    7
4    1
5    2
6    3
7    4
8    5
9    6
dtype: int64

In [160]:
c.loc[0:10] #0:10

0     4
1     5
2     6
3     7
4     1
5     2
6     3
7     4
8     5
9     6
10    7
dtype: int64

# converting series to dataframe

In [27]:
c

0      4
1      5
2      6
3      7
4      1
5      2
6      3
7      4
8      5
9      6
10     7
11     8
12     9
13    10
dtype: int64

In [162]:
df=c.to_frame()
df

     0
0    4
1    5
2    6
3    7
4    1
5    2
6    3
7    4
8    5
9    6
10   7
11   8
12   9
13  10

In [28]:
df=c.to_frame(name='Numbers')
df

    Numbers
0         4
1         5
2         6
3         7
4         1
5         2
6         3
7         4
8         5
9         6
10        7
11        8
12        9
13       10

# count

return the number of non null observations in the series

In [29]:

b=pd.Series([1,2,3,4,5,6,7,8,9,10])
b

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [30]:
b.count()

10

In [31]:
a=pd.Series([1,2,3,4,5])
b=pd.Series([10,11,12,12,13,14,15])
c=a.add(b)
c

0    11.0
1    13.0
2    15.0
3    16.0
4    18.0
5     NaN
6     NaN
dtype: float64

In [32]:
c.count()

5

In [169]:
b=pd.Series([1,2,3,4,5,6,7,8,9,10])
b.size

10

In [171]:
a=pd.Series([1,2,3,4,5])
b=pd.Series([10,11,12,12,13,14,15])
c=a.add(b)
c

0    11.0
1    13.0
2    15.0
3    16.0
4    18.0
5     NaN
6     NaN
dtype: float64

In [172]:
c.size

7

# is_unique

it returns boolean if values in the object are unique

In [34]:
c

0    11.0
1    13.0
2    15.0
3    16.0
4    18.0
5     NaN
6     NaN
dtype: float64

In [33]:
c.is_unique

False

In [175]:
b=pd.Series([1,2,3,4,5,6,7,8,9,10])
b.is_unique

True

# idxmax

extract the index position of the highest values in a series

In [176]:
a=pd.Series([10,100,12,5000,1000,500])
a

0      10
1     100
2      12
3    5000
4    1000
5     500
dtype: int64

In [177]:
a.idxmax()

3

# idxmin()

In [178]:
a.idxmin()

0

# min,max

In [179]:
a.min()

10

In [180]:
a.max()

5000

## sort values

sort the values in ascending and descending order

In [35]:
a=pd.Series([10,100,12,5000,1000,500])
a

0      10
1     100
2      12
3    5000
4    1000
5     500
dtype: int64

In [36]:
a.sort_values() #ascending

0      10
2      12
1     100
5     500
4    1000
3    5000
dtype: int64

In [183]:
a.sort_values(ascending=False) #descending

3    5000
4    1000
5     500
1     100
2      12
0      10
dtype: int64

## astype

to change the datatype of a series

In [37]:
a.dtype

dtype('int64')

In [185]:
a.astype(float)

0      10.0
1     100.0
2      12.0
3    5000.0
4    1000.0
5     500.0
dtype: float64

In [189]:
a=pd.Series([10,100,12,5000,1000,500],dtype='float')
a

0      10.0
1     100.0
2      12.0
3    5000.0
4    1000.0
5     500.0
dtype: float64

## tolist()

# convert a series to list

In [190]:
a=pd.Series([10,100,12,5000,1000,500])
a.tolist()

[10, 100, 12, 5000, 1000, 500]

## unique

In [197]:
a=pd.Series([10,10,10,12,12,13,14,15,17])
print(a.unique())

[10 12 13 14 15 17]

## nunique

count the unique values

In [195]:
print(a.nunique())

6

## value_counts()

In [198]:
a.value_counts()

10    3
12    2
13    1
14    1
15    1
17    1
Name: count, dtype: int64