In [1]:
import pandas as pd
df=pd.read_csv(r"D:\important\dataspark\data science\7.Machine learning\Datasets\movies_cleaned.csv")
df

,1,The Nightmare Before Christmas,1993,3.9,4568.0
0,2,The Mummy,1932,3.5,4388.0
1,3,Orphans of the Storm,1921,3.2,9062.0
2,4,The Object of Beauty,1991,2.8,6150.0
3,5,Night Tide,1963,2.8,5126.0
4,6,One Magic Christmas,1985,3.8,5333.0
...,...,...,...,...,...
49584,49586,Winter Wonderland,2013,2.8,1812.0
49585,49587,Top Gear: Series 19: Africa Special,2013,3.4,6822.0
49586,49588,Fireplace For Your Home: Crackling Fireplace w...,2010,3.4,3610.0
49587,49589,Kate Plus Ei8ht,2010,2.7,2628.0
49588,49590,Kate Plus Ei8ht: Season 1,2010,2.7,2628.0

1.Give column name as Id, Movie, Year, Rating, Duration.

2.Display the number of rows and number of columns.

3.Display the five observations that have highest duration.

4.Remove if any duplicate exists and change the index accordingly.

5.Rename the column name ‘Movie’ as Film.

6.Display all the observation starting from index 100 upto 200.

7.Display the name and releasing year of the film with maximum duration.

8.Display the count of films released in each year.

9.Find the film released between 1986–1996 having highest duration.

10Find the films having duration greater than 7000 and rating above 3.5.

11.Print the details about 5 films having less rating, display in the descending order.

In [2]:
#1.Give column name as Id, Movie, Year, Rating, Duration.
df=pd.read_csv(r"D:\important\dataspark\data science\7.Machine learning\Datasets\movies_cleaned.csv",names=['Id', 'Movie', 'Year', 'Rating', 'Duration'])
df

,Id,Movie,Year,Rating,Duration
0,1,The Nightmare Before Christmas,1993,3.9,4568.0
1,2,The Mummy,1932,3.5,4388.0
2,3,Orphans of the Storm,1921,3.2,9062.0
3,4,The Object of Beauty,1991,2.8,6150.0
4,5,Night Tide,1963,2.8,5126.0
...,...,...,...,...,...
49585,49586,Winter Wonderland,2013,2.8,1812.0
49586,49587,Top Gear: Series 19: Africa Special,2013,3.4,6822.0
49587,49588,Fireplace For Your Home: Crackling Fireplace w...,2010,3.4,3610.0
49588,49589,Kate Plus Ei8ht,2010,2.7,2628.0
49589,49590,Kate Plus Ei8ht: Season 1,2010,2.7,2628.0

In [3]:
#2.Display the number of rows and number of columns.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49590 entries, 0 to 49589
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        49590 non-null  int64
 1   Movie     49590 non-null  object
 2   Year      49590 non-null  int64
 3   Rating    49590 non-null  float64
 4   Duration  49590 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.9+ MB

In [4]:
df1=df.copy()

In [5]:
#3.Display the five observations that have highest duration.
df1.sort_values(by='Duration').tail()

          Id                                 Movie  Year  Rating  Duration
1831    1832               Dr. Mabuse: The Gambler  1922     3.1   16422.0
22381  22382                        Heaven's Story  2010     2.3   16736.0
2423    2424                     The Best of Youth  2003     3.9   22024.0
12303  12304                 Example 8 Hour 23.976  2010     3.2   28813.0
22216  22217  Example 8 Hour 23.976 Remote Content  2010     3.0   28813.0

In [6]:
#4.Remove if any duplicate exists and change the index accordingly.
df2=df1.copy()
df2.drop('Id',axis=1,inplace=True)
df2.drop_duplicates(inplace=True)

In [7]:
df2.reset_index(drop=True,inplace=True)
df

,Id,Movie,Year,Rating,Duration
0,1,The Nightmare Before Christmas,1993,3.9,4568.0
1,2,The Mummy,1932,3.5,4388.0
2,3,Orphans of the Storm,1921,3.2,9062.0
3,4,The Object of Beauty,1991,2.8,6150.0
4,5,Night Tide,1963,2.8,5126.0
...,...,...,...,...,...
49585,49586,Winter Wonderland,2013,2.8,1812.0
49586,49587,Top Gear: Series 19: Africa Special,2013,3.4,6822.0
49587,49588,Fireplace For Your Home: Crackling Fireplace w...,2010,3.4,3610.0
49588,49589,Kate Plus Ei8ht,2010,2.7,2628.0
49589,49590,Kate Plus Ei8ht: Season 1,2010,2.7,2628.0

In [8]:
#5.Rename the column name ‘Movie’ as Film.

#dfname.rename({old:new},axis=1)
df2.rename({'Movie':'Film'},axis=1,inplace=True)
df2

,Film,Year,Rating,Duration
0,The Nightmare Before Christmas,1993,3.9,4568.0
1,The Mummy,1932,3.5,4388.0
2,Orphans of the Storm,1921,3.2,9062.0
3,The Object of Beauty,1991,2.8,6150.0
4,Night Tide,1963,2.8,5126.0
...,...,...,...,...
49240,Winter Wonderland,2013,2.8,1812.0
49241,Top Gear: Series 19: Africa Special,2013,3.4,6822.0
49242,Fireplace For Your Home: Crackling Fireplace w...,2010,3.4,3610.0
49243,Kate Plus Ei8ht,2010,2.7,2628.0
49244,Kate Plus Ei8ht: Season 1,2010,2.7,2628.0

In [9]:
#6.Display all the observation starting from index 100 upto 200.
df2.iloc[100:201]

                                                 Film  Year  Rating  Duration
100                       The Hunchback of Notre Dame  1923     3.5    6750.0
101                                          Heathers  1989     3.7    6193.0
102                                Godzilla's Revenge  1969     3.3    4165.0
103                                       Hard Target  1993     3.4    5771.0
104                Henry: Portrait of a Serial Killer  1986     3.2    4938.0
..                                                ...   ...     ...       ...
196                                 The Toxic Avenger  1985     3.0    5243.0
197                                     The Two Jakes  1990     3.1    8251.0
198  Tales from the Crypt Presents: Bordello of Blood  1996     3.3    5189.0
199                               Tales from the Hood  1995     3.4    5850.0
200                     Star Trek IV: The Voyage Home  1986     3.6    7128.0

[101 rows x 4 columns]

In [10]:
 #7.Display the name and releasing year of the film with maximum duration.
df2.sort_values(by='Duration').tail(1)[['Film','Year']]

                                       Film  Year
22215  Example 8 Hour 23.976 Remote Content  2010

In [11]:
#8.Display the count of films released in each year.
df2[['Year']].value_counts()

Year
2011    5433
2010    5080
2009    4417
2012    4298
2008    3338
        ...
1921       2
1918       1
1916       1
1915       1
2014       1
Name: count, Length: 101, dtype: int64

In [12]:
#9.Find the film released between 1986–1996 having highest duration.
df2.loc[(df2['Year']>=1986)&(df2['Year']<=1996)].sort_values(by='Duration').tail(1)[['Film']]

                             Film
1648  Dilwale Dulhania Le Jayenge

In [13]:
#10Find the films having duration greater than 7000 and rating above 3.5.
df2.loc[(df2['Duration']>=7000)&(df2['Rating']>=3.5)]

,Film,Year,Rating,Duration
13,The Boys from Brazil,1978,3.6,7417.0
35,Into the Woods,1990,4.0,9077.0
41,In the Name of the Father,1993,3.9,7972.0
43,Do the Right Thing,1989,3.6,7186.0
47,Emma,1996,3.5,7260.0
...,...,...,...,...
44727,Salinger,2013,4.0,7425.0
45173,Madonna: MDNA: Live from Miami,2013,3.6,7191.0
46505,WWE for All Mankind: The Life Career of Mick F...,2013,4.2,8066.0
46571,The Last Tycoon,2012,3.8,7134.0
48374,WWE: The Top 25 Rivalries in Wrestling History,2013,3.7,10228.0

In [14]:
#11.Print the details about 5 films having less rating, display in the descending order.
df2.sort_values(by='Rating',ascending=False).tail()

                                            Film  Year  Rating  Duration
44302                         Where Is Parsifal?  1984     1.6    4937.0
38499  The Tulse Luper Suitcases - The TV Series  2004     1.6    2628.0
40822                   Meri Toh Lag Gayi Naukri  2011     1.5    2628.0
40569                                     Lagegi  2007     1.4    2628.0
41846                        Sun Yaar Chill Maar  2007     1.4    2628.0